<header>
  <div class="container">
    <div class="row">
      <h1>Search a Repository!</h1>
    </div>
    <div class="row">
      <form ng-submit="getRepos()">
        <input class="col-md-10" type="text" placeholder="Please type repository name here to search!" ng-model="searchRepo">
        <input type="submit" class="col-md-1" value="Search Now!">
      </form>
    </div>
  </div>
</header>
<section class="repos">
  <div class="notifier" ng-show="showLoading">Loading...</div>
  <div class="container" ng-show="hideLoading">
    <div class="row">
      <table class="col-md-12">
        <thead>
          <tr>
            <th>
              URL
            </th>
            <th class="hidden-xs">
              Description
            </th>
            <th class="hidden-xs">
              Forks count
            </th>
            <th class="hidden-xs">
              Stargazers count
            </th>
            <th class="hidden-xs">
              Open issues count
            </th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="repo in repos.items">
            <td class="name">
              <a ng-href='#/repo/{{repo.full_name}}'>{{repo.url}}</a>
            </td>
            <td class="name">{{repo.description}}</td>
            <td class="name">{{repo.forks}}</td>
            <td class="name">{{repo.stargazers_count}}</td>
            <td class="name">{{repo.open_issues}}</td>
            <hr />
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>