<!DOCTYPE html>
<html data-ng-app="LauraApp">

<head>
  <meta charset="utf-8">
  <title>Laura's Test ng App</title>
  <link href="/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="css/app.css" rel="stylesheet">
</head>

<body ng-controller="appController">
  <header>
    <div class="container">
      <div class="row">
        <h1>Search a Repository!</h1>
      </div>
      <div class="row">
        <input class="col-md-10" type="text" placeholder="Please type repository name here to search!" ng-model="searchRepo">
        <button class="col-md-1" ng-click="getRepos()">Search</button>
      </div>
    </div>
  </header>
  <div ng-view></div>
  <script src="/bower_components/angular/angular.js"></script>
  <script src="/bower_components/angular-route/angular-route.js"></script>
  <script src="/bower_components/angular-resource/angular-resource.js"></script>
  <script src="/scripts/controllers.js"></script>
</body>

</html>